PORT=4000
JWT_SECRET=tu_llave_secreta
DB_PATH=../database/inventario.sqlite
API_DNI_URL=https://api.apis.net.pe/v1/dni
API_DNI_KEY=tu_token_api
ADMIN_EMAIL=admin@local
ADMIN_USUARIO=admin
ADMIN_PASSWORD=admin123
